.footer__wrapper {
  width: 100%;
  height: 15rem;
  background: linear-gradient(to bottom, #fff, #000);
  position: relative;
}

.footer__wrapper > img {
  width: 5rem;
  height: 5rem;
  margin: 0px auto;
  display: block;
}

.footer__sm {
  margin: 0rem auto;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  position: absolute;
}

.footer__sm > i {
  font-size: 1.5rem;
  padding: .3rem;
  transition: 2s all;
  cursor: pointer;
}

.footer__sm > i:hover {
  color: var(--mainWhite);
}

.all__rights {
  position: absolute;
  bottom: 5px;
  color: var(--mainWhite);
  font-size: .8rem;
  padding: .4rem;
  opacity: .7;
}