.slider__container {
  width: 80%;
  height: auto;
  margin: 1rem auto;
  z-index: 2000;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px var(--lightgrey);
}

.slider__container > h3 {
  padding: 2rem;
  font-size: 1.5rem;
}

.slider__div {
  height: auto;
  width: auto;
  margin: 0rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden !important;
  z-index: 10000;
  cursor: grabbing;
}

/* Slder Card */

.mpSlider__card {
  width: 25rem;
  height: 32rem;
  margin: 1rem;
  box-shadow: 1px 1px 2px var(--lightgrey);
  transition: 2s all;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  pointer-events: none;
}

.mpSlider__card:hover {
  box-shadow: 1px 1px 2px var(--mainBlack);
}

.mpSlider_cardImg__div {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mpSlider_cardImg__div > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
}

.mpSlide_card__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.mpSlide_card__details > h3 {
  margin-top: 1rem;
}

.mpSlide_card__details > span {
  margin-top: 1rem;
  color: var(--mainRed);
  font-size: 1.6rem;
  font-weight: 700;
}

.mpSlide_card__details > p {
  margin-top: 1rem;
}

.product__id_slider {
  position: absolute;
  color: var(--mainRed);
  font-weight: 700;
  left: 0.2rem;
  top: 70%;
  font-size: 1rem !important;
  border: 1px solid var(--mainRed);
  border-radius: 5px;
  padding: 0.1rem;
}

.mp_card__btns {
  width: 100%;
  height: 3rem;
  background-color: var(--lightgrey);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  margin-top: 5.2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

/* Skeleton */

.skeleton__div {
  height: 32rem;
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.slider__skeleton {
  max-width: 25rem !important;
  height: 32rem;
  background-color: rgb(238, 238, 238);
  display: flex;
  border-radius: 10px;
}

/* Media Queris */

@media screen and (max-width: 1200px) {
  /* SLider Skeleton */

  .skeleton__div {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  /* Slider */
  .mpSlider__card {
    width: 22rem;
  }

  /* SLider Skeleton */

  .skeleton__div {
    grid-template-rows: none;
    grid-template-columns: repeat(1, 1fr);
  }

  .slider__skeleton:focus-visible {
    background-color: red !important;
  }

  .skeleton__div div:nth-child(3) {
    display: none;
  }

  .slider__skeleton {
    max-width: 22rem !important;
  }
}

@media screen and (max-width: 500px) {
  /* Slider */

  .slider__container > h3 {
    padding: 2rem;
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  .mpSlider__card {
    width: 20rem;
  }

  /* SLider Skeleton */

  .slider__skeleton {
    max-width: 20rem !important;
  }
}

@media screen and (max-width: 450px) {
  /* Slider */
  .mpSlider__card {
    width: 18rem;
  }

  /* SLider Skeleton */

  .slider__skeleton {
    max-width: 18rem !important;
  }
}

@media screen and (max-width: 420px) {
  /* Slider */
  .mpSlider__card {
    width: 18rem;
    height: 30rem;
  }

  .mpSlider_cardImg__div {
    height: 60%;
  }

  .product__id_slider {
    top: 95%;
  }

  /* Slider Sketelon */

  .skeleton__div {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none !important;
    grid-template-rows: none !important;
  }

  .slider__skeleton {
    max-width: 18rem !important;
    height: 30rem !important;
  }
}

@media screen and (max-width: 400px) {
  /* Slider */
  .mpSlider__card {
    width: 17rem;
    height: 28rem;
  }

  .mpSlider_cardImg__div {
    height: 50%;
  }

  .product__id_slider {
    top: 150%;
  }

  /* Slider Sketelon */
  .slider__skeleton {
    max-width: 17rem !important;
    height: 28rem !important;
  }
}

@media screen and (max-width: 380px) {
  /* Slider */
  .mpSlider__card {
    width: 16rem;
    height: 25rem;
  }

  .mpSlider_cardImg__div {
    height: 50%;
  }

  .product__id_slider {
    top: 110%;
  }

  /* Slider Sketelon */
  .slider__skeleton {
    max-width: 16rem !important;
    height: 25rem !important;
  }
}

@media screen and (max-width: 360px) {
  /* Slider */
  .mpSlider__card {
    width: 15rem;
    height: 25rem;
  }

  .mpSlider_cardImg__div {
    height: 50%;
  }

  .mpSlide_card__details > h3 {
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  .product__id_slider {
    top: 95%;
  }

  /* Slider Sketelon */
  .slider__skeleton {
    max-width: 15rem !important;
    height: 25rem !important;
  }
}

@media screen and (max-width: 350px) {
  /* Slider */

  .slider__container > h3 {
    font-size: 1rem;
  }

  .mpSlider__card {
    width: 14rem;
    height: 22rem;
  }
  .mpSlider_cardImg__div {
    height: 40%;
  }

  .mpSlide_card__details > h3 {
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  .product__id_slider {
    top: 110%;
  }

  /* Slider Sketelon */
  .slider__skeleton {
    max-width: 14rem !important;
    height: 22rem !important;
  }
}

@media screen and (max-width: 320px) {
  /* Slider */
  .mpSlider__card {
    width: 13rem;
    height: 20rem;
  }
  .mpSlider_cardImg__div {
    height: 40%;
  }

  .mpSlide_card__details > h3 {
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  .product__id_slider {
    top: 100%;
    font-size: 0.8rem !important;
  }

  /* Slider Sketelon */
  .slider__skeleton {
    max-width: 13rem !important;
    height: 20rem !important;
  }
}

@media screen and (max-width: 305px) {
  /* Slider */
  .mpSlider__card {
    width: 12rem;
    height: 18rem;
  }

  .mpSlider_cardImg__div {
    height: 35%;
  }

  .mpSlide_card__details > h3 {
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  .product__id_slider {
    top: 100%;
    font-size: 0.8rem !important;
  }

  /* Slider Sketelon */
  .slider__skeleton {
    max-width: 12rem !important;
    height: 18rem !important;
  }
}

@media screen and (max-width: 290px) {
  /* Slider */

  .mpSlider__card {
    width: 10rem;
    height: 16rem;
  }

  .mpSlide_card__details > h3 {
    font-size: 0.7rem;
    margin-left: -.2rem;
    margin-top: 1rem;
  }

  .mpSlide_card__details > span {
    font-size: 1.2rem;
  }

  .product__id_slider {
    top: 110%;
  }
}
