@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
  --lightgrey: rgb(230, 230, 230);
  --mainRed: rgb(255, 32, 32);
  --mainBlack: #000;
  --mainWhite: #fff;
  --mainBlue: #0166c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden!important;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--mainBlack)
}